.main {
    display: flex;
    flex-direction: column;
 
    background-color: black;
}
.scene{
    height: 100vh;
}

.scene1 {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.scene1::-webkit-scrollbar {
    display: none;
}
